


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{font-family:'Cut'; src:url('./../fonts/Cut-Bold.woff'),url('./../fonts/Cut-Regular.woff');}

/* Colors */:root{--font-default:'Poppins',sans-serif; --font-heading:'Poppins', sans-serif;  --myBlue:#1A213D; --accent:#f1f1f1;scroll-behavior:smooth;}
/* Smooth scroll behavior */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{font-family:var(--font-default); color:var(--color-default); overflow-x:hidden;box-sizing:border-box;font-size:15px; line-height:28px; font-weight:300;scroll-behavior:smooth;color: #0C0404;}
.bg-white{--bs-bg-opacity:0;}

h1, h2, h3{
  font-family:var(--font-heading);
}
h1 {
  font-size: 28px;
  line-height: 70px;
  font-weight: 400;
  color: var(--myBlue);
  margin-bottom: 1.5rem;
}
h2 {
  text-transform: capitalize;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 2px;
  margin:0;
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
p{
  margin-top:1rem;
  color:#424242;
}
.sticky {
  position: fixed;
  width:100%;
}
.myBtn {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 8px 26px;
  background: #fff;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}
.myBtn:before {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  bottom: -5px;
  content: "";
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
  transition: all .3s ease-in-out;
}
.myBtn:hover:before{
inset:0;
}
.myBtn.myBtn2{
  color:#ffffff;
  background:var(--myBlue);
}
.myBtn.myBtn2:before{ 
  border:2px solid var(--myBlue);
}
/* New Button */
.tBtn2 {
	color: #ffffff;
	padding: 12px 44px 12px 16px;
	border: 1px solid #ffffff;
	border-radius: 0;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	display: inline-flex;
	transition: all 0.4s;
}

.tBtn2:before {
  position: absolute;
  content: '\f061';
  font-family: 'Font Awesome 6 Free'; 
  font-weight: 900;
  width: 24px;
  height: 24px;
  line-height:24px;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  transition: all 0.3s;
  z-index: 1;
  border-radius: 50px;
  background: transparent;
  color: var(--myBlue);
  text-align: center;
  display:inline-block;
}
.tBtn2:after {
  position: absolute;
  content: none;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  transition: all 0.4s;
  z-index: -1;
  background: theme('colors.myBlue');
  border-radius: 50px;


}
/* .tBtn2:hover:before{
  color:var(--myBlue);
  background:#ffffff;

} */
.tBtn2:hover{
  background:var(--myBlue);
}

 .tBtn2.tBtn2Alt {
  border: 1px solid  var(--myBlue);
  color: theme('colors.myBlue');
}
.tBtn2.tBtn2Alt:hover{
  color:#ffffff;
}
.tBtn2.tBtn2Alt:hover:before{
  color:#ffffff;
}


.btnPrimary{text-decoration:none; position:relative; display:inline-block; padding-right:25px;}
.btnPrimary:hover span {
  padding: 16px 30px 16px 26px;
}
.btnPrimary:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  content: '';
  transition: width 0.35s ease-in-out;
  border-radius: 6px;
}
.btnPrimary:hover:after{width:100%;}
.btnPrimary.bg-gris:after{background:var(--accentClr);}
.btnPrimary.bg-white:after{background:white;}
.btnPrimary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 16px 40px 16px 25px;
  position: relative;
  z-index: 2;
  display: block;
  transition: padding 0.35s ease-in-out;
  cursor: pointer;
}
.btnPrimary span:before{position:absolute; top:50%; right:0; height:4px; width:4px; border-top:2px solid #1A213D; border-right:2px solid #1A213D; content:''; transform:translateY(-50%) rotate(45deg);}
.btnPrimary span:after{position:absolute; top:50%; right:0; height:2px; width:25px; background:#1A213D; content:''; margin-top:-1px; transition:width 0.35s ease-in-out;}
.btnPrimary:hover span:after{width:0;}
a{color:initial; text-decoration:none;}
a:hover{text-decoration:none;}
h1,h2,h3{font-family:var(--font-heading);line-height: 1.2;}

.small-title {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

nav {
	padding: bottom;
	padding-bottom: 22px;
}
.mainNav .tBtn2{display:none;}

.nav-link-white{color:#ffffff !important;}
.nav-link-black{color:#000000 !important;}
:placeholder{color:#ffffff; opacity:0.7;}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section{padding:0 0; overflow:hidden;}
.section-bg {
  background-color: var(--accentClr);
}
.section-header{text-align:center; padding-bottom:70px;}
.section-header h2{font-size:32px; font-weight:700; position:relative; color:#2e3135;}
.section-header h2:before,.section-header h2:after{content:""; width:50px; height:2px; background:var(--myBlue); display:inline-block;}
.section-header h2:before{margin:0 15px 10px 0;}
.section-header h2:after{margin:0 0 10px 15px;}
.section-header p{margin:0 auto 0 auto;}
@media (min-width:1199px){
  .section-header p{max-width:60%;}
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top{position:fixed; visibility:hidden; opacity:0; right:15px; bottom:15px; z-index:99999; background:var(--myBlue); width:40px; height:40px; border-radius:4px; transition:all 0.4s;}
.scroll-top i{font-size:24px; color:var(--color-secondary); line-height:0;}
.scroll-top:hover{background:#ffc732; color:#fff;}
.scroll-top.active{visibility:visible; opacity:1;}



.noBefore:before, .noBefore:after{
  display:none !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader{position:fixed; inset:0; z-index:999999; overflow:hidden; background:#fff; transition:all 0.6s ease-out;}
#preloader:before{content:""; position:fixed; top:calc(50% - 30px); left:calc(50% - 30px); border:6px solid #fff; border-color:var(--myBlue) transparent var(--myBlue) transparent; border-radius:50%; width:60px; height:60px; animation:animate-preloader 1.5s linear infinite;}
@keyframes animate-preloader{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width:768px){
  [data-aos-delay]{transition-delay:0 !important;}
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {

}
.headerScroll{background:#ffffff; border-bottom:1px solid #eeeeee;}
.img-100 img{max-width:100%; height:auto !important;}
.img-min-100 img{min-width:100% !important; max-width:100%;}
.logo{}
.logo span{font-size:16px;}
.logo img {
  width: 188px;
}
.header .logo{}
footer .logo{margin:0;}
footer .logo *{color:#ffffff;}


/* ---------Main Nav---------- */
.activeClass {

  border-bottom:1px solid var(--myBlue) !important;
  border-radius:0;
}
.whiteNav .logo {
	color: #ffffff;
}

.nonActiveClass {
  color:#0C0404;
}
.whiteNav  .nonActiveClass {
  color:#fff;
}
.whiteNav  .activeClass {
  color:#fff;
  border-bottom:1px solid #ffffff !important;
  border-radius:0;
}
.whiteNav .dashBtn {
  color:#fff;
}
.whiteNav .tBtn2.tBtn2Alt {
	color: #ffffff;
}
.whiteNav .tBtn2::before {color:#ffffff;}

.navsmaller{background:#ffffff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.navsmaller .logo{color:var(--myBlue);}
.navsmaller .nonActiveClass{color:var(--myBlue);}
.navsmaller .activeClass{color:var(--myBlue);}
.navsmaller .dashBtn{
 color: #000000;
 
}
.navsmaller .dashBtn > svg{
  color: #000000;
  
}
.navsmaller .myBtn{color:#ffffff;background:var(--myBlue); }
.navsmaller .myBtn:before{border:2px solid var(--myBlue); }

/*------- About Us---------*/
.aboutUs{position:relative;    z-index: 3;}
.aboutUs:after {
  position: absolute;
  content: '';
  inset: 0;
  width:50%;
  height: 50%;
  background: var(--accent);
  opacity: 1;
  z-index: -1;
}


.aboutUs .flexItem1{width:42%; background:var(--accentClr); border-radius:30px;}
.aboutUs .flexItem2{width:58%; display:flex; justify-content:center; align-items:center;}
.aboutUs .flexItem2 span{padding-top:45px; display:block; font-size:500px; line-height:1; color:white; font-family:"Cut"; font-weight:normal; font-style:normal; text-shadow:#E8E9EC 1px 1px,#E8E9EC -1px 1px,#E8E9EC -1px -1px,#E8E9EC 1px -1px;}
.aboutUs .aboutText{}


.aboutPage{}
.aboutPage .aboutUsText{position:relative;}
.aboutPage .aboutUsText h3{padding-bottom:50px; font-size:36px; font-weight:100;}
.aboutPage .aboutUsText p{font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px; width:561px;}
.aboutPage .teamSec{display:flex; flex-wrap:wrap;justify-content: flex-end;}
.aboutPage .teamSec .flexItem{width:100%;position:relative;}
.aboutPage .teamSec .flexItem::before{z-index:2; content:''; bottom:0; left:0; right:0; height:80%; background:linear-gradient(to bottom,transparent,#000); position:absolute; opacity:0.5;}
.aboutPage .teamSec .flexItem:last-child:before{content:none;}
.aboutPage .teamSec .flexItem .teamText{padding:40px; position:absolute; z-index:3; bottom:0; left:0; right:0;}
.aboutPage .teamSec .flexItem .teamText h3{font-weight:600; font-size:16px; letter-spacing:1px; padding-bottom:10px; margin:0;}
.aboutPage .teamSec .flexItem .teamText p{margin:0; text-transform:uppercase; font-weight:300; font-size:12px; letter-spacing:2px;}
.aboutPage .teamSec .flexItem .flexText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  z-index: 2;
  position: relative;
  height:100%;
}
.aboutPage .teamSec .flexItem.bg-gray{}
.aboutPage .teamSec .flexItem.bg-gray::before{display:none;}
.aboutPage .aboutBottomSec{padding:90px 0 70px;}
.aboutPage .aboutBottomSec .flexItem1{width:40%; display:flex; flex-wrap:wrap; justify-content:flex-end;}
.aboutPage .aboutBottomSec .ukiyo-wrapper{width:60% !important;}
.aboutPage .aboutBottomSec .flexItem2{width:100%;}
.aboutPage .aboutBottomSec .aboutBottomText{padding:145px 50px 190px 0; width:458px;}
.aboutPage .aboutBottomSec .aboutBottomText h2{text-transform:uppercase; font-weight:600; font-size:14px; letter-spacing:2px; padding-bottom:30px; margin:0;}
.aboutPage .aboutBottomSec .aboutBottomText h3{padding-bottom:50px; font-size:36px; font-weight:100; margin:0;}
.aboutPage .aboutBottomSec .aboutBottomText p{font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px; margin:0;}
.homeSlider{}
.homeSlider .swiper-slide p{padding:0 !important;}
.ohioSlider{}
.ohioSlider .aboutSlideHeader h2 {
	padding: 0;
	margin-bottom: -26px;
}
.ohioSlider .aboutSlideHeader h3{padding-bottom:75px; font-size:36px; font-weight:100;}
.ohioSlider .swiper{padding-bottom:50px;}
.ohioSlider .swiper .swiper-button-next{bottom:0; top:initial; height:auto;}
.ohioSlider .swiper .swiper-button-prev{right:60px; left:initial; bottom:0; top:initial; height:auto;}
.ohioSlider .swiper .swiper-button-next::after,.ohioSlider .swiper .swiper-button-prev::after{font-size:14px; color:var(--myBlue);}
.ohioSlider .swiper .swiper-pagination-progressbar{top:initial; bottom:0; width:80%;}
.ohioSlider .swiper .swiper-pagination-progressbar span{background:var(--myBlue);}
.ohioSlider .swiper-slide{background:var(--accentClr); min-height:418px;}
.homeSlider .swiper-slide{background:transparent; min-height:unset;}
.ohioSlider .swiper-slide p{margin:0; padding-left:51px; padding-right:51px;}
.ohioSlider .swiper-slide .number{padding-top:51px; font-size:16px; font-weight:100;}
.ohioSlider .swiper-slide .title{font-size:28px; font-weight:400; line-height:34px; letter-spacing:0.5px; padding-top:10px; padding-bottom:10px;}
.ohioSlider .swiper-slide .text{padding-bottom:51px; font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px;}
/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
.callToAction{ position:relative;    background-attachment: fixed !important;}
.callToAction:after{position:absolute;content:''; inset:0; width:100%; height:100%; background:var(--myBlue);opacity:.3; z-index:0;}

.callToAction .ukiyo-wrapper .imageParallex,.callToAction .imageParallex{height:100% !important; width:100% !important;}
.callToAction .ctaText {
	position: absolute;
	top: 50%;
	right: 10%;
	background: var(--accent);
	padding: 40px;
	transform: translate(0,-50%);
	width: 400px;
	z-index: 2;
	border-radius: 10px;
}
.callToAction .ctaText h2 {
  
 
}
.callToAction .ctaText p{padding:35px 0 55px; color:#6A6F81; letter-spacing:0.5px;}

.aboutCta.callToAction .ctaText {
	position: relative;
	padding: 40px;
	transform: initial;
	width: 400px;
	z-index: 2;
	border-radius: 10px;
  top: initial;
	right: initial;

} 
.aboutCta .aboutText h2,.aboutCta .aboutText p {
  color:#ffffff;}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .header{background:#ffffff;}
.serviceIntro h2{text-transform:uppercase; font-weight:600; font-size:14px; letter-spacing:2px; padding-bottom:30px;}
.serviceIntro p{font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px;}
.serviceIntro ul li{font-size:19px; letter-spacing:0.5px; font-weight:400; padding-left:51px; position:relative; letter-spacing:1px; margin-bottom:25px; list-style:none;}
.serviceIntro ul li:before{position:absolute; top:50%; left:0; width:10px; background:#1A213D; opacity:0.5; content:''; height:1px;}
.services .service-item{padding:40px; background:url('../img/services-item-bg.webp') bottom right no-repeat #ffffff; height:100%; padding:50px; background-size:100%;}
.services .service-item .hv-fx{transform:translateY(0px); transition:transform 0.4s cubic-bezier(0.645,0.045,0.355,1);}
.services .service-item:hover .hv-fx{}
.services .service-item .count{font-size:16px; font-weight:100; color:#4c6089; display:block;}
.services .service-item h3{font-size:28px; font-weight:400; line-height:34px; letter-spacing:0.5px; padding-top:10px; padding-bottom:10px;}
.services .service-item p{font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px; padding-bottom:51px;}
.services .service-item:hover .btnPrimary span{}
.services .service-item:hover .btnPrimary span:after{}

/* Default styles for .serviceBoxContent */
.serviceBoxContent {
position:relative;
overflow:hidden;
}
.serviceBoxContent .bgImg img{
transition:all 0.8s;
}

.serviceBoxContent .absText {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  z-index:2;
  transition:all 0.3s;
}
.serviceBoxContent:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #000000);
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  z-index: 1;
}
.serviceBoxContent:hover:before {
  background-color: #000;
}
.serviceBoxContent:hover .bgImg img{
  transform:scale(1.1);
}
.serviceBoxContent h2 {
  font-size: 1.3rem;
  line-height: 1.3;
  color: #ffffff; 
  position:relative;
}
.serviceBoxContent h2:before{
  position:absolute;
  content:'';
  width:0;
  height:1px;
  background:#ffffff;
  left:0;
  bottom:0;
  transition:all 0.4s;
}

.serviceBoxContent:hover .absText{
  bottom:1.5rem;
}
.serviceBoxContent:hover .absText h2:before{
  width:100%;
}


/* Add more media queries as needed for different screen sizes */




.homeValuation{min-height:auto; display:flex; justify-content:center; align-items:center; background:url('../img/work-with-us-14-1.jfif') center center no-repeat; background-size:cover; position:relative; z-index:1; margin-top:0; padding:50px 0 50px;}
.homeValuation::before{position:absolute; content:''; width:100%; height:100%; top:0; left:0; display:block; background:rgba(0,0,0,0.5); z-index:-1;}
.homeValuation ul{gap: 3rem;list-style:none; margin:0 0 10px; padding:0; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; font-weight:normal; font-stretch:normal; font-style:normal; font-size:17px; line-height:26px; letter-spacing:1px; color:#ffffff; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center;}
.homeValuation ul li {
 
  padding: 0;
  margin: 0;
  width: 34px;
  height: 34px;
  border-radius: 999px;
  background-color: rgba(255,255,255,0.25);
  text-align: center;
  position: relative;
  font-weight: 700;
  line-height: 34px;
}
.homeValuation ul li+li{margin-left:65px;}
.homeValuation ul li+li:before{content:''; display:block; position:absolute; height:1px; top:50%; left:-65px; width:65px; background-color:rgba(255,255,255,0.25);}
.homeValuation ul li:has(button.active)::after {
  content: '';
  pointer-events: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  /* margin: -31px 0 0 -31px; */
  width: 50px;
  height: 50px;
  border: solid 1px #fff;
  opacity: .25;
  border-radius: 999px;
  transform: translate(-50%, -50%);
}
.homeValuation ul li button{width: 100%;padding: 0;
  height: 100%;color:#ffffff; transition:.3s background-color; border-radius:50%;}
.homeValuation ul li:has(button.active){background-color:#fff; color:var(--myBlue);}
.homeValuation ul li:has(button.disable){pointer-events: none;}
.homeValuation ul li button:hover{color:#ffffff;}
.homeValuation ul li .active,.homeValuation ul li button:focus,.homeValuation ul li button:hover{color:var(--myBlue); background-color:#ffffff; border-radius:50%;}
.homeValuation .homeValuation1{padding-top:20px;}
.homeValuation .homeValuation1 h2{margin-bottom:70px; color:#ffffff; text-align:center; font-size:30px;}
.homeValuation .valuationForm {
  display: flex;
  /* width: 320px; */
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
}

.homeValuation .valuationForm .address label{display:block; color:#ffffff; font-weight:400; font-size:18px;margin-bottom: 10px;}
.homeValuation .homeValuation2 select,.homeValuation .homeValuation2 input,.homeValuation .valuationForm .address input{font-size: 14px;background:transparent; outline:none; border:none; border-bottom:1px solid #ffffff; width:100%; color:#ffffff; padding: 5px 0 5px 10px;}
.homeValuation .homeValuation2 select:focus,.homeValuation .homeValuation2 input:focus,.homeValuation .valuationForm .address input:focus{outline:none !important;box-shadow:none;}
.homeValuation .valuationForm .address{flex-basis: 100%;}
.homeValuation .homeValuation3 button, .homeValuation .homeValuation2 button, .homeValuation .valuationForm button {
	background: transparent;
	border: 1px solid #ffffff;
	outline: none;
	margin-left: 0;
	/* width: 30%; */
	color: #ffffff;
	font-size: 16px;
	transition: .3s;
	padding: 8px 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	gap: 5px;
}
.homeValuation .homeValuation3 button,.homeValuation .homeValuation2 button{width:auto; margin:0 auto; padding:10px 30px;}
.homeValuation .homeValuation3 button:hover,.homeValuation .homeValuation2 button:hover,.homeValuation .valuationForm button:hover{background:#ffffff; color:var(--myBlue);}
.homeValuation .homeValuation2{color:#ffffff; display:flex; flex-wrap:wrap; justify-content:center; max-width:100%; margin:0 auto;    flex-direction: column;}
.homeValuation .homeValuation2 h5{margin:0 0 20px; font-weight:700; font-size:16px; line-height:1.4; text-transform:uppercase;}
.homeValuation .homeValuation2 h3 {
  font-weight: 400;
  margin: 0 0 40px;
  line-height: 1.3;
  font-size: 18px;
}
.homeValuation .homeValuation2 label{display:block; font-weight:500; font-size:16px;}
.homeValuation .homeValuation2 .inp{margin-bottom:18px;}
.homeValuation .homeValuation2 form{width:425px;}
.homeValuation .homeValuation2 .disclaimer {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 0px;
	margin-bottom: 16px;
	text-align: justify;
	color: #ffffff;
	margin-bottom: 2rem;
}
.homeValuation .homeValuation2 select option{background-color:#fff; color:#333; padding:8px; font-size:14px;}
.homeValuation .homeValuation3{padding-top:80px; color:#ffffff; text-align:center;}
.homeValuation .homeValuation3 h5{margin:0 0 30px; font-size: 30px;}
.homeValuation .homeValuation3 h3{margin:0 auto 30px; max-width:650px; font-weight:400; line-height:1.3;}

.homeValuation .bg-gray-200, .homeValuation .bg-gray-50{
  --tw-bg-opacity: 0;

}
/*--------------------------------------------------------------
# Projet Details Section
--------------------------------------------------------------*/
.project-details .portfolio-details-slider img{width:100%;}
.project-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet{width:12px; height:12px; background-color:rgba(255,255,255,0.7); opacity:1;}
.project-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active{background-color:var(--myBlue);}
.project-details .swiper-button-prev,.project-details .swiper-button-next{width:48px; height:48px;}
.project-details .swiper-button-prev:after,.project-details .swiper-button-next:after{color:rgba(255,255,255,0.8); background-color:rgba(0,0,0,0.2); font-size:24px; border-radius:50%; width:48px; height:48px; display:flex; align-items:center; justify-content:center; transition:0.3s;}
.project-details .swiper-button-prev:hover:after,.project-details .swiper-button-next:hover:after{background-color:rgba(0,0,0,0.6);}
@media (max-width:575px){
  .project-details .swiper-button-prev,.project-details .swiper-button-next{display:none;}
}
.project-details .portfolio-info h3{font-size:22px; font-weight:700; margin-bottom:20px; padding-bottom:20px; position:relative;}
.project-details .portfolio-info h3:after{content:""; position:absolute; display:block; width:50px; height:3px; background:var(--myBlue); left:0; bottom:0;}
.project-details .portfolio-info ul{list-style:none; padding:0; font-size:15px;}
.project-details .portfolio-info ul li{display:flex; flex-direction:column; padding-bottom:15px;}
.project-details .portfolio-info ul strong{text-transform:uppercase; font-weight:400; color:#838893; font-size:14px;}
.project-details .portfolio-info .btn-visit{padding:8px 40px; background:var(--myBlue); color:#fff; border-radius:50px; transition:0.3s;}
.project-details .portfolio-info .btn-visit:hover{background:#ffc019;}
.project-details .portfolio-description h2{font-size:26px; font-weight:700; margin-bottom:20px; color:var(--color-secondary);}
.project-details .portfolio-description p{padding:0;}
.project-details .portfolio-description .testimonial-item{padding:30px 30px 0 30px; position:relative; background:#f5f6f7; height:100%; margin-bottom:50px;}
.project-details .portfolio-description .testimonial-item .testimonial-img{width:90px; border-radius:50px; border:6px solid #fff; float:left; margin:0 10px 0 0;}
.project-details .portfolio-description .testimonial-item h3{font-size:18px; font-weight:bold; margin:15px 0 5px 0; padding-top:20px;}
.project-details .portfolio-description .testimonial-item h4{font-size:14px; color:#6c757d; margin:0;}
.project-details .portfolio-description .testimonial-item .quote-icon-left,.project-details .portfolio-description .testimonial-item .quote-icon-right{color:#ffd565; font-size:26px; line-height:0;}
.project-details .portfolio-description .testimonial-item .quote-icon-left{display:inline-block; left:-5px; position:relative;}
.project-details .portfolio-description .testimonial-item .quote-icon-right{display:inline-block; right:-5px; position:relative; top:10px; transform:scale(-1,-1);}
.project-details .portfolio-description .testimonial-item p{font-style:italic; margin:0 0 15px 0 0 0; padding:0;}
/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .services-list{padding:10px 30px; border:1px solid #d5d7da; margin-bottom:20px;}
.service-details .services-list a{display:block; line-height:1; padding:8px 0 8px 15px; border-left:3px solid #d9e3e8; margin:20px 0; color:var(--color-secondary); transition:0.3s;}
.service-details .services-list a.active{font-weight:700; border-color:var(--myBlue);}
.service-details .services-list a:hover{border-color:var(--myBlue);}
.service-details .services-img{margin-bottom:20px;}
.service-details h3{font-size:28px; font-weight:700;}
.service-details h4{font-size:20px; font-weight:700;}
.service-details p{font-size:15px;}
.service-details ul{list-style:none; padding:0; font-size:15px;}
.service-details ul li{padding:5px 0; display:flex; align-items:center;}
.service-details ul i{font-size:20px; margin-right:8px; color:var(--myBlue);}
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.headerTopText{padding:225px 0 100px; position:relative;}
.headerTopText:before{position:absolute; content:'O'; right:10%; bottom:-60%; display:block; font-size:650px; color:white; font-family:"Cut"; font-weight:normal; font-style:normal; text-shadow:#E8E9EC 1px 1px,#E8E9EC -1px 1px,#E8E9EC -1px -1px,#E8E9EC 1px -1px; line-height:1; z-index:-1;}
.headerTopText h1{font-size:70px; font-weight:100; width:800px;}
.contactSec .ukiyo-wrapper{width:auto !important;}
.contactSec .flexItem1,.contactSec .flexItem2{width:50%;}
.contactSec .flexItem2{display:flex; justify-content:center;}
.contactSec .flexItem2 .contactInfo{width:450px; padding-bottom:190px;}
.contactSec .flexItem2 .contactInfo .first-text{font-size:23px; font-weight:300; line-height:47px; letter-spacing:0.5px; color:#5E6477; padding-bottom:90px;}
.contactSec .flexItem2 .contactInfo h2{text-transform:uppercase; font-weight:600; font-size:14px; letter-spacing:2px; padding-bottom:30px;}
.contactSec .flexItem2 .contactInfo p{margin:0;}
.contactSec .flexItem2 .contactInfo .underline-link-animation{font-size:23px; line-height:28px; text-decoration:none; font-weight:300; letter-spacing:0.5px; display:inline-block; position:relative; overflow:hidden; padding-bottom:5px;}
.contactSec .flexItem2 .contactInfo .underline-link-animation:after{content:''; background:#ced0d5; height:1px; position:absolute; bottom:0; transition:0.5s all; width:0; left:100%;}
.contactSec .flexItem2 .contactInfo .underline-link-animation:hover:after{transition:0.5s width; width:100%; left:0;}
.contactSec .flexItem2 .contactInfo .cnt{padding-bottom:55px; margin-bottom:55px; border-bottom:1px solid #ced0d5;}
.contactSec .flexItem2 .contactInfo p.address{font-size:17px; line-height:34px; text-decoration:none; font-weight:400; letter-spacing:0.5px; color:#5E6477;}
.contactSec .flexItem2 .contactInfo .direction-links{padding-top:70px;}
.contactSec .flexItem2 .contactInfo .direction-links a{position:relative; width:50px; height:50px; display:inline-block; border:2px solid transparent !important; box-sizing:border-box; margin-left:0 !important; margin-right:3px;}
.contactSec .flexItem2 .contactInfo .direction-links a:before{content:''; position:absolute; width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%) scale(0.6); z-index:0; opacity:0; border-radius:50%; border:1px solid #1A213D; background:#1A213D; transition:transform 0.7s cubic-bezier(0.19,1,0.22,1),opacity 0.15s cubic-bezier(0.165,0.84,0.44,1);}
.contactSec .flexItem2 .contactInfo .direction-links a:hover:before{opacity:1; transform:translate(-50%,-50%) scale(1);}
.contactSec .flexItem2 .contactInfo .direction-links a:after{content:''; position:absolute; width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%) scale(1); border:1px solid #1A213D; opacity:0.2; z-index:0; border-radius:50%; transition:transform 0.4s cubic-bezier(0.19,1,0.22,1),opacity 0.4s cubic-bezier(0.19,1,0.22,1);}
.contactSec .flexItem2 .contactInfo .direction-links a:hover:after{opacity:0; transform:translate(-50%,-50%) scale(1.2);}
.contactSec .flexItem2 .contactInfo .direction-links a svg{position:absolute; fill:#001b57; top:50%; left:50%; transform:translate(-50%,-50%); max-width:20px; max-height:20px; display:block;}
.contactSec .flexItem2 .contactInfo .direction-links a:hover svg{fill:white;}
@keyframes animate-loading{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.heroSection{position:relative; margin-top:0;  z-index:1;}
.heroSection:after {
  position: absolute;
  content: '';
  inset: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  opacity: 1;
  z-index: -1;
}
.heroSection.home:after {
  position: absolute;
  content: '';
  inset: 0;
  width: 0;
  height: 100%;
  background: #000000;
  opacity: 0.4;
  z-index: -1;
}

.heroSection .heroThumb {
    position: absolute;
    width: 10rem;
    bottom: -4rem;
    left: 1rem;
}
.heroSection .heroText{z-index:2;}
 h1{font-size:30px;color:var(--myBlue);}
.heroSection .heroText p{width:290px; font-size:20px; line-height:36px; font-weight:200; padding:10px 0 40px; color:#ffffff;}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{padding-top:85px; background:#1A213D; color:white;}
.footer img{width:165px;}
.footer .footer-content .footer-info{margin-bottom:30px;}
.footer .footer-links p{font-size:15px; font-weight:300; line-height:34px; letter-spacing:0.5px;}
.footer .footer-links p a{text-decoration:none; color:white; opacity:1; transition:opacity 0.25s ease-in-out;}
.footer .footer-links p a:hover{opacity:0.6; transition-duration:0s;}
.footer .footer-content .footer-info p{font-size:14px; line-height:24px; margin-bottom:0; font-family:var(--font-default); color:#fff;}
.footer .footer-content .footer-links{margin-bottom:30px;}
.footer .footer-content .footer-links ul{list-style:none; padding:0; margin:0;}
.footer .footer-content .footer-links ul li{padding:8px 0;}
.footer .footer-content .footer-links ul li:first-child{padding-top:0;}
.footer .footer-content .footer-links ul a{color:#ffffff; opacity:1; transition:0.3s; display:inline-block; line-height:1;}
.footer .footer-content .footer-links ul a:hover{opacity:0.6;}
.footer .footer-legal .copyright{padding-top:30px; border-top:1px solid rgba(255,255,255,0.15);}
.footer .footer-legal .credits{padding-top:4px; font-size:13px; color:#fff;}
.footer .footer-legal .credits a{color:var(--myBlue);}
footer .social a{position:relative; width:50px; height:50px; display:inline-block; border:2px solid transparent !important; box-sizing:border-box; margin-left:0 !important; margin-right:3px; border-radius:50%; background:none !important;}
footer .social a:before{content:''; position:absolute; width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%) scale(0.6); z-index:0; opacity:0; border-radius:50%; border:1px solid white; background:white; transition:transform 0.7s cubic-bezier(0.19,1,0.22,1),opacity 0.15s cubic-bezier(0.165,0.84,0.44,1);}
footer .social a:after{content:''; position:absolute; width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%) scale(1); border:1px solid white; opacity:0.2; z-index:0; border-radius:50%; transition:transform 0.4s cubic-bezier(0.19,1,0.22,1),opacity 0.4s cubic-bezier(0.19,1,0.22,1);}
footer .social a:hover:before{opacity:1; transform:translate(-50%,-50%) scale(1);}
footer .social a:hover:after{opacity:0; transform:translate(-50%,-50%) scale(1.2);}
footer .social a svg{position:absolute; fill:white; top:50%; left:50%; transform:translate(-50%,-50%); max-width:20px; max-height:20px; display:block;}
footer .social a:hover svg{fill:#1A213D;}
footer .footer-legal ul{padding:30px 0 15px; margin-top:45px; display:flex; justify-content:space-between; align-items:center; border-top:1px solid #555555;}
footer .footer-legal ul li{list-style:none;}
footer .footer-legal ul li img{width:60px; filter:invert(1);}
/*------- conceirage Services-------*/
.conceirageServices .container div + div {background: var(--accent); border-radius: 0 !important; margin-top: 0 !important; padding: 16px 15px;}
.conceirageServices .tabUl li{flex: 1; flex-basis: 100%; margin-left: 0 !important;}
.conceirageServices .tabUl li button{width: 100%; color: var(--myBlue); text-align: left; font-weight: 400; border-radius: 0; font-size: 16px;}
.conceirageServices .tabUl li button.active{background: var(--accent);}
.conceirageServices .conceirageServicesTab{background:var(--accent);}
 .conceirageServicesTab ul{list-style:none; display:flex; flex-wrap:wrap; flex-direction: column; padding:0;}
 .conceirageServices .conceirageServicesTab ul li{padding-block: 5px; position:relative;padding-left: 30px;}
 .conceirageServices .conceirageServicesTab ul li:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('src/lib/img/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
 .conceirageServices .conceirageServicesTab ul li p{margin:0 !important;}
.conceirageServices .conceirageServicesTab ul li i{font-size:16px; margin-right:5px;}
/*---------- Properties-------*/

.propertiesBanner {
  position: relative;
  height: 30vh;
  z-index: 1;
  margin-top: 64px;
}
.propertiesBanner:after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background:  #16161D;
  opacity: 0.4;
  z-index: -1;
}
.propertiesBanner h1{color:#ffffff; position:relative;}

.propertiesPage .listingsHeading h2{text-transform:none; margin:8px 0 24px; font-size:43px; text-align:center;}
/* .propertiesPage form .searchField{padding-right:30px; padding-top:12px; border:none; outline:none; padding:16px 19px; border-bottom:1px solid #E7E7E7; opacity:1; font-size:14px; line-height:16px; font-weight:400; box-shadow:none; background:transparent; width:100%; max-width:100%; transition:0.3s all; position:relative;}
.propertiesPage form select{background:transparent; position:relative; text-align:left; padding-left:0; color:#848484; text-transform:none; box-shadow:none; height:100%; border:none; outline:none; padding:16px 19px; border-bottom:1px solid #E7E7E7; opacity:1; font-size:14px; line-height:16px; font-weight:400; width:100%; max-width:100%;} */
.propertiesPage .slidecontainer{width:100%;}
.propertiesPage .slider{-webkit-appearance:none; appearance:none; width:100%; height:3px; border-radius:5px; background:#d3d3d3; outline:none; opacity:0.7; -webkit-transition:.2s; transition:opacity .2s;}
.propertiesPage .slider:hover{opacity:1;}
.propertiesPage .slider::-webkit-slider-thumb{-webkit-appearance:none; appearance:none; width:25px; height:25px; border-radius:50%; background:var(--myBlue); cursor:pointer;}
.propertiesPage .slider::-moz-range-thumb{width:25px; height:25px; border-radius:50%; background:var(--myBlue); cursor:pointer;}
.propertiesPage .slidecontainer{margin-top:32px;}
.propertiesPage .slidecontainer h1{font-weight:600; line-height:16px; font-size:16px; text-transform:uppercase; color: var(--myBlue);}
.listingsSec{}
 .d-flex{gap:15px; flex-wrap:wrap;}
 .d-flex .flexItem{width:calc(33.33% - 10px);}
 .d-flex .flexItem .listingsImage{position:relative; overflow:hidden;}
 .listingsBox{border-radius:0; overflow:hidden; /* background:#2b2e3b; */position:relative;margin-bottom:0;}
 .listingType {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	z-index: 2;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	background-color: #ffffff;
	padding: 7px 12px;
	border-radius: 0;
	top: 6px;
	left: 6px;
	line-height: 12px;
}

.listingContent{  text-align:left;  position:relative;padding:1rem; background:#ffffff;}

.listingContent .price{font-size:20px; line-height:26px;  letter-spacing:0.33;color:theme(colors.myBlue);}

.listingContent p{margin:0; font-weight:400; font-size:14px; line-height:16px; margin:12px 0 0 0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.listingContent .listingInfo{font-size:14px; font-weight:normal; display:flex; gap:6px; margin-top:4px;}

.listingContent .listingInfo span{display:block; line-height:1.4; text-transform:uppercase;}
.propertiesPage .listingsHeading {
  text-transform: none;
  margin: 0 0 45px;
  font-size: 43px;
  color: var(--myBlue);
}
.propertiesPage form .searchField {
  padding-right: 30px;
  padding-top: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E7E7E7;
  opacity: 1;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  box-shadow: none;
  background: transparent;
  max-width: 100%;
  transition: 0.3s all;
}


.swiper {
  overflow-y: visible !important;
}
swiper-slide{
  padding-top:50px;
}
/* Swiper Styles */
.navWrapper {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
}
.swiper-button-next {
	position: absolute;
  color:#ffffff;
  right:6px;
  background:var(--myBlue);
  width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	border-radius: 50px;

}
.swiper-button-prev {
	position: absolute;
	color: #ffffff;
	right: 50px;
  background:var(--myBlue);
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	border-radius: 50px;
}

.swiper-button-disabled{
  background:var(--myBlue);
  opacity:0.5;
}



/* Media Querries */

footer {
  border-top: 1px solid var(--myBlue);
}
.container{padding-inline:1rem;}
/*---------TimeLine----------*/
.timeLine{padding:75px 0; background:var(--accent);}
.timeLine .tl{position:relative; max-width:1200px; margin:0 auto;}
.timeLine .tl::after{content:""; position:absolute; width:2px; background-color:var(--myBlue); top:0; bottom:0; left:20px;}
.timeLine .tl-left::after{left: 0px;}
.timeLine .tl-right::after{left: 13px;} 
.timeLine .tl-container{position:relative; background-color:inherit; width:100%; padding-left:30px; padding-right:0;}
.timeLine .tl-container::before{left:60px; border:medium solid #fff; border-width:10px 10px 10px 0; border-color:transparent #fff transparent transparent;}
.timeLine .tl-container::after{content:""; position:absolute; width:15px; height:15px; right:-6.5px; background-color:#fff; border:4px solid var(--myBlue); top:4px; border-radius:50%; z-index:1;}
.timeLine .tl-left{left:0;}
.timeLine .tl-left::after{left:13px;}
.timeLine .tl-content{padding:0 15px; position:relative; border-radius:6px;}
.timeLine .tl-content p{margin-bottom: 2rem;}
.timeLine .tl-content h2{margin-bottom: 14px; line-height: 1; font-size: 22px;}

/*----------- Contact Page --------------*/
.contactPage::before {position: absolute; content: ''; width: 100%; height: 100%; background: rgba(255,255,255,0.9); left: 0; top: 0; display: block; z-index: -1;}
.contactPage .contactFormInner form textarea, .contactPage .contactFormInner form input { background: transparent; border: none; border-bottom: 1px solid rgba(0,0,0,0.7);}
.contactPage .contactFormInner form textarea:focus, .contactPage .contactFormInner form input:focus {box-shadow: none; border-color: var(--myBlue);}
.contactInfo .contactInfoInner{display: flex; margin-bottom: 20px;align-items: center;}
.contactInfo .contactInfoInner p {line-height: 1; margin-bottom: 0; font-size: 18px;}
.contactInfo .contactInfoInner i {width: 33px; margin-right: 10px;}
.contactInfo .contactInfoInner span {line-height: 1; display: inline-block; margin-top: 7px;}

/*----------- Properties Single --------------*/
.propertiesSingle .propertiesForm{padding: 45px 30px; background: var(--accent);}
.propertiesSingle .propertiesForm input, .propertiesSingle .propertiesForm textarea {background: transparent; border: none; border-bottom: 1px solid var(--myBlue);}
.propertiesSingle .propertiesForm input:focus, .propertiesSingle .propertiesForm textarea:focus{box-shadow: none;} 
.propertiesSingle .propertiesForm .contactInfo{margin-bottom: 20px;}
.propertiesSingle .propertiesForm .contactInfo h2{margin: 0 0 10px; text-transform: uppercase;}
.propertiesSingle .propertiesForm .contactInfo a{display: block;}
.propertiesSingle .propertyDetailInfo .propertyFeatures .exteriorFeatures{margin-top: 20px;}
.propertyDetailInfo dt p, .propertiesSingle .propertyDetailInfo dd p{margin: 0;}

