/*------------------------------------------
  Responsive Grid Media Queries - 1280,1024,768,480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

/* Small Devices (sm) - 640px and up */

@media (min-width:640px){
  .aboutPage .teamSec .flexItem{width:40%;}
  .conceirageServices .tabUl li{flex-basis:50%;}
  .conceirageServices .tabUl li button{text-align:center;}
  .homeValuation .valuationForm {
    flex-wrap: nowrap;  
    align-items: flex-end;
}
.homeValuation .homeValuation3 button, .homeValuation .homeValuation2 button, .homeValuation .valuationForm button {
  height: 46px;
}
.homeValuation .homeValuation3 h5 {
  margin: 0 0 30px;
  font-size: 30px;
}
}
/* Medium Devices (md) - 768px and up */

@media (min-width:768px){
  .propertiesSingle .propertyDetailInfo {padding: 0 0 0 0;}
  .propertiesSingle .propertiesForm h2 {
    font-size: 26px;
    margin-bottom: 1.5rem!important;
  }
  .conceirageServices .tabUl li{flex-basis:50%;}
  .conceirageServices .tabUl li button{padding:30px 0;}
  .conceirageServices .container div + div{margin-top:0 !important;}
  .conceirageServices .conceirageServicesTab ul{flex-direction:row;}
  .conceirageServices .conceirageServicesTab ul li{padding-block:30px; flex-basis:33%; text-align:start;}
  h1{font-size:33px; margin-bottom:2rem;}
  h2{font-size:26px;}
  .small-title{font-size:26px; margin-bottom:26px;}
  .heroSection:after{width:100px;}
  .aboutPage .teamSec .flexItem{width:40%;}
  .aboutPage .teamSec .flexItem.bg-accent{min-height:304px;}

  .serviceBoxContent h2 {
    font-size: 22px; 
  /* Adjust font size for larger screens */
  }

  .serviceBoxContent p {
    font-size: 1.2rem; 
    margin-top:1.2rem;/* Adjust font size for larger screens */
  }
  .serviceBoxContent .absText {
    position: absolute;
    bottom: 16px;
    left: 10px;
}
.serviceBoxContent h2 {
  font-size: 18px;
}
.whiteNav  .nonActiveClass {
  color:var(--myBlue);
}
.navsmaller .myBtn{color:#ffffff;background:var(--myBlue); }
.navsmaller .myBtn:before{border:2px solid var(--myBlue); }
.whiteNav  .nonActiveClass {
  color:#ffffff;
}
.whiteNav  .nonActiveClass {
  color:#ffffff;
}
.navsmaller  .nonActiveClass {
  color:var(--myBlue) !important;
}
.mainNav .myBtn{
  display:inline-block;
}
}
/* Large Devices (lg) - 1024px and up */

@media (min-width:1024px){
  body {

    font-size: 16px;

  }
  .heroSection .heroText {
   
      background-color: transparent;
 
  }

  .mainNav .tBtn2 {
    display: block;
    background:var(--myBlue);
    color:#ffffff;
  }
  .mainNav .tBtn2:before {   
    color:#ffffff;
  }
  .navigation >ul >li:last-child{display:none;}
  .propertiesBanner{height:40vh; margin-top:74px;}
  .conceirageServicesTab ul{justify-content:space-around;}
  .conceirageServices .conceirageServicesTab ul li{flex-basis:auto}
  .conceirageServices .tabUl li{flex-basis:auto;}
  .conceirageServices .conceirageServicesTab ul li{padding-block:20px;}
  .timeLine .tl::after{left:50%; margin-left:-3px;}
  .timeLine .tl-left::after{left:initial;}
  .timeLine .tl-container::after{right:-5.5px;}
  .timeLine .tl-container{padding:0 40px; position:relative; background-color:inherit; width:50%;}
  .timeLine .tl-left{left:0;}
  .timeLine .tl-right{left:50%;}
  .timeLine .tl-right::after{left:-9.5px;}
  .timeLine .tl-content{padding:0;}
  .timeLine .tl-content h2{font-size:24px;}
  h1{font-size:43px; margin-bottom:2rem;}
  h2{font-size:28px;}
  .small-title{font-size:28px; margin-bottom:30px;}
  .heroSection::after {
    width: 15%;
  }
  .aboutUs::after {

    width: 25%;

  }
  .heroSection.home::after {
    width: 100%;
  }

  .heroSection .heroThumb{width:12rem; bottom:-4rem; left:5rem;}
  .heroText h1{}
  .aboutText{padding-left:4rem;}
  .aboutPage .teamSec .flexItem{width:31%;}
}
/* Extra Large Devices (xl) - 1280px and up */

@media (min-width:1280px){
  .homeValuation .homeValuation2 select, .homeValuation .homeValuation2 input, .homeValuation .valuationForm .address input {
    font-size: 16px;
  }
  p{
    margin-top:2rem;
    color:#424242;
  }
  .propertiesBanner{height:50vh; margin-top:74px;}
  .heroSection .heroThumb{width:14rem; bottom:-4rem; left:5rem;}
  .aboutPage .teamSec .flexItem{width:24%;}
}
/* 2 Extra Large Devices (2xl) - 1536px and up */

@media (min-width:1536px){
  .heroSection::after {
    width: 20%;
  }
  body {

    font-size: 18px;

  }
  p{
    margin-top:2rem;
    color:#424242;
  }
  .propertiesSingle .propertiesForm{position: sticky; top: 96px;}
  .propertiesBanner {height: 60vh;margin-top: 74px;}
  .conceirageServices .tabUl li button{padding:45px 0;}
  .conceirageServices .conceirageServicesTab ul li{padding-block:30px;}
  .timeLine .tl-container::after{right:-5.5px;}
  .timeLine .tl-right::after{left:-9.5px;}
  h1{font-size:50px; margin-bottom:2rem;}
  h2{font-size:30px;}
  .small-title{font-size:30px; margin-bottom:34px;}
  .heroSection .heroThumb{width:18rem; bottom:-10rem; left:14rem;}
  .aboutText{padding-left:10rem;}
  .heroText h1{}
  .heroSection .heroText {

    padding-left: 26%;
  }
    .heroSection.home  .heroText {

    padding-left: 0 !important;
  }
}


@media (max-width:640px){
  .bgNormal{background-attachment:initial !important;}
}
